@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Titan+One&display=swap");
* {
  box-sizing: border-box;
}
:root {
  --color: var(--yellow-5);
  --shadow: var(--yellow-8);
  --glare: hsl(0 0% 100% / 0.75);
  --font-size: var(--font-size-fluid-3);
  --transition: 0.2s;
}
body {
  margin: 0;
  padding: 0;
  background: #c5c2f6;
}
.container_primary {
  width: 75vw;
  display: flex;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
}
.container_secondary {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
}

.pie {
  -webkit-tap-highlight-color: transparent;
  &:hover {
    cursor: pointer;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(360deg * var(--rotation)));
  }
}

.arrow {
  position: absolute;
  right: 0;
  -webkit-tap-highlight-color: transparent;
  width: 5px;
  height: 5px;
  border-top: 10px solid transparent;
  border-right: 30px solid #500010;
  border-bottom: 10px solid transparent;
  border-radius: 12px;
  cursor: pointer;
  z-index: 99;
  &:hover {
    -webkit-animation: shake-right 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955)
      both;
    animation: shake-right 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  }
}
@media screen and (min-width: 480px) {
  .arrow {
    width: 5px;
    height: 5px;
    border-top: 10px solid transparent;
    border-right: 50px solid #500010;
    border-bottom: 10px solid transparent;
  }
}
@media screen and (min-width: 1024px) {
  .arrow {
    width: 10px;
    height: 10px;
    border-top: 30px solid transparent;
    border-right: 100px solid #500010;
    border-bottom: 30px solid transparent;
  }
}

@-webkit-keyframes shake-right {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
@keyframes shake-right {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
