.button {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10vw;
  -webkit-tap-highlight-color: transparent;
  height: 3vh;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 400;
  color: #313133;
  background: transparent;
  border: none;
  border-radius: 1000px;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  .button {
    height: 5vh;
  }
}
@media screen and (min-width: 1600px) {
  .button {
    left: 61%;
    width: 5vw;
  }
}
.button:hover {
  cursor: pointer;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
.buttonText {
  color: #500010;
  font-family: "Titan One", sans-serif;
  transition: font-size 0.2s;
  font-size: 10px;
  text-align: center;
  @media screen and (min-width: 480px) {
    font-size: calc(0.5em + 1vw);
  }
}

:root {
  --color: var(--yellow-5);
  --shadow: var(--yellow-8);
  --glare: hsl(0 0% 100% / 0.75);
  --font-size: var(--font-size-fluid-3);
  --transition: 0.2s;
}

.button:hover::before,
button:focus::before {
  opacity: 1;
}

.button::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #500010;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring_chart_tiny 1.5s infinite;
}

@media screen and (min-width: 480px) {
  .button::after {
    animation: ring_chart_mobile 1.5s infinite;
  }
}
@media screen and (min-width: 768px) {
  .button::after {
    animation: ring 1.5s infinite;
  }
}

.button:hover::after,
button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 220px;
    height: 220px;
    opacity: 0;
  }
}

@keyframes ring_chart_mobile {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}
@keyframes ring_chart_tiny {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 60px;
    height: 60px;
    opacity: 0;
  }
}
