.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(251, 247, 63);
  background: radial-gradient(
    circle,
    rgba(251, 247, 63, 1) 0%,
    rgba(5, 23, 3, 1) 100%
  );
}

.pie {
  margin: 0 auto;
  width: 650px;
  &:hover {
    cursor: pointer;
  }
}

.arrow {
  position: absolute;
  left: 65%;
  width: 10px;
  height: 10px;
  border-top: 30px solid transparent;
  border-right: 100px solid black;
  border-bottom: 30px solid transparent;
  cursor: pointer;

  &:hover {
    -webkit-animation: shake-right 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955)
      both;
    animation: shake-right 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  }
}

@-webkit-keyframes shake-right {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
@keyframes shake-right {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
